<!doctype html>
<html lang=cs>

<head>
    <meta charset=utf-8>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <title>Admin dashboard</title>
</head>

<body>
    <main class="container" style="max-width: 70%;">
        <!-- Headning -->
        <h1 class="mt-5 display-1 text-center">Administrace</h1>
        <br>
        <br>

        <!-- Current points -->
        <div class="row text-center">
            <div class="col">
                <button type="button" class="btn btn-danger btn-lg" style="height: 100px; width: 200px;" disabled>{{ r }}</button>
            </div>
            <div class="col">
                <button type="button" class="btn btn-primary btn-lg" style="height: 100px; width: 200px;" disabled>{{ b }}</button>
            </div>
        </div>
        <br>

        <!-- Adding/substracting points -->
        <div class="row text-center">
            <div class="col">
                <form method="post" action="{{ server }}admin_dashboard">
                    <div class="text-center">
                        <input type="submit" class="btn btn-danger btn-lg text-center" value="r+" name="points" />
                        <input type="submit" class="btn btn-danger btn-lg text-center" value="r-" name="points" />
                    </div>
                </form>
            </div>
            <div class="col">
                <form method="post" action="{{ server }}admin_dashboard">
                    <div class="text-center">
                        <input type="submit" class="btn btn-primary btn-lg text-center" value="b+" name="points" />
                        <input type="submit" class="btn btn-primary btn-lg text-center" value="b-" name="points" />
                    </div>
                </form>
            </div>
        </div>
        <br>
        <br>

        <!-- Loading new game -->
        <form class="container text-center" action="/admin_dashboard" method="post" enctype="multipart/form-data">
            <p class="lead">Load game {{ loaded_game }}</p>
            <input type="file" name="file" />
            <input type="submit" value="Upload">
        </form>

    </main>

</body>

</html>