<!doctype html>
<html lang=cs>

<head>
    <meta charset=utf-8>
    <meta http-equiv="refresh" content="2">

    <!-- Daisy + Tailwind + Darmode -->
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css"/>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <script>document.documentElement.setAttribute('data-theme', localStorage.getItem('theme') || (window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light'));
    window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', e => !localStorage.getItem('theme') && document.documentElement.setAttribute('data-theme', e.matches ? 'dark' : 'light'));</script>

    <title>{{name}} dashboard</title>
</head>

<body>
<!-- Headning -->
<h1 class="mt-20 mb-10 text-center text-6xl font-bold text-{{ color }}">{{ name }}</h1>

<div class="row text-center mt-10 ml-10 mr-10">
    <div class="col">
        <div class="flex justify-center gap-2 my-5">
            {% for char in partial_secret %}
            <kbd class="kbd kbd-xl text-bold h-15 text-2xl">{{ char }}</kbd>
            {% endfor %}
        </div>
    </div>
</div>

<!-- Current points -->
<div class="flex justify-center w-full mt-15">
    <div class="stats rounded-xl overflow-hidden border border-gray-300">
        <div class="stat flex-1">
            <div class="flex items-center ml-5 mr-5">
                <button class="btn btn-{{ color }} btn-circle h-8 w-8"></button>
                <div class="ml-3">
                    <div class="stat-title">{{ name }}</div>
                    <div class="stat-value">{{ points }}</div>
                    <div class="stat-desc">bodů</div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>